ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 16px;
  color: #000;
  background: linear-gradient(
    -15deg,
    #927af1 0%,
    #cfc6f0 25%,
    #e6cef3 50%,
    #b7aaed 66%,
    #cfc6f4 100%
  );
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.95);
  z-index: 11;
}
.header_wrap {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}
.header_btn {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  z-index: 21;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 106px;
  height: 32px;
  margin-right: 5%;
}
.header_nav {
  width: 50%;
  height: 100vh;
  padding-top: 152px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}
.header_nav.header_nav-show {
  display: block;
}
.nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_item {
  margin-bottom: 32px;
}
.nav_item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  white-space: nowrap;
}
.nav_item a.active {
  font-weight: 500;
}
.header-btn {
  display: none;
}
.intro {
  padding: 0 16px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.intro_wrap {
  position: relative;
  padding-top: 325px;
  margin-bottom: 48px;
}
.intro_wrap::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  min-width: 396px;
  max-width: 396px;
  height: 290px;
  background-image: url("../images/intro-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.intro_title {
  text-align: center;
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #111111;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.intro_subtitle {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.intro_subtitle > span {
  display: block;
}
.intro_anxiety {
  position: relative;
  margin-bottom: 40px;
}
.intro_anxiety-title {
  margin-bottom: 32px;
  text-align: center;
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
}
.slider_buttons {
  display: none;
}
.slider_prev,
.slider_next {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  border: 3px solid #111111;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  cursor: pointer;
}
.slider_prev {
  left: -7%;
  transform: rotate(180deg);
}
.hidden {
  display: none;
}
.slider_next {
  right: -7%;
}
.slider_sliders {
  width: 100%;
  overflow: hidden;
  margin-bottom: 32px;
}
.slider_item {
  min-width: 100%;
  display: none;
}
.slider_item.slider_item-show {
  display: block;
}
.slider_item > span {
  display: block;
  padding: 16px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.25);
  filter: drop-shadow(0px 1px 15px rgba(17, 17, 17, 0.15));
  border-radius: 25px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.slider_toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.slider_toggle > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.slider_toggle > span + span {
  margin-left: 6px;
}
.slider_toggle > span.active {
  background: #7264aa;
}
.intro_link-wrap {
  text-align: center;
}
.intro_link-wrap > a {
  padding: 16px 117px 16px 43px;
  width: 396px;
  margin: 0 auto;
  display: block;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-image: url("../images/arrow-copy.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 7%;
}
.subscriptions {
  margin-bottom: 48px;
  overflow-x: hidden;
}
.subscriptions_title {
  position: relative;
  margin-bottom: 45px;
  font-family: "Ubuntu Condensed";
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 36px;
  text-transform: uppercase;
  color: #000000;
}
.subscriptions_title::after {
  position: absolute;
  left: 50%;
  bottom: -67%;
  transform: translateX(-50%);
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  background-image: url("../images/group119.svg");
}
.subscriptions_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 32px;
  gap: 32px;
  margin-bottom: 20px;
}
.subscriptions_item {
  min-width: 233px;
  display: flex;
  flex-direction: column;
  padding: 176px 32px 0 32px;
  background: rgba(255, 255, 255, 0.2);
  border: 2.5px solid #8d9ace;
  border-radius: 45px;
  background-image: url("../images/logo-vector.svg");
  background-repeat: no-repeat;
  background-position: center 15%;
}
.subscriptions_item:nth-child(2) {
  background-image: url("../images/logo-vector7264AA.svg");
}
.subscriptions_item:last-child {
  background-image: url("../images/logo-vectorBFA4CE.svg");
}
.subscriptions_item-wrap {
  flex: 1;
}
.subscriptions_item-title {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #111111;
}
.subscriptions_item-info {
  margin-bottom: 34px;
}
.subscriptions_item-duration {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #111111;
}
.subscriptions_item-price {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.subscriptions_item-trial,
.subscriptions_price-month {
  display: block;
  font-size: 13px;
  line-height: 16px;
}
.subscriptions_item-trial {
  margin-bottom: 6px;
}
.subscriptions_item > a {
  min-width: 100%;
  display: inline-block;
  padding: 16px 15px;
  margin-top: auto;
  margin-bottom: 34px;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscriptions > p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.subscriptions > p > a {
  font-size: 13px;
  line-height: 16px;
  color: #3f3176;
}
.about {
  position: relative;
  margin-bottom: 48px;
  color: #111111;
  /* overflow: hidden; */
}
.about__image {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 427px;
  height: 167px;
}
/* .about::before {
  margin: 0 auto;
  width: 427px;
  height: 167px;
  width: 100%;
  height: calc(70vw / 2);
  min-height: 167px;
  display: block;
  content: "";
  background-image: url("../images/photo-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  background-position: left center;
} */
.about__image::before {
  position: absolute;
  left: 5%;
  top: 144px;
  display: block;
  content: "";
  width: 60px;
  height: 15px;
  border-radius: 2px;
  background: #8d9ace;
  transform: rotate(90deg);
  z-index: 12;
}
.about_wrap {
  position: relative;
  padding: 0 16px;
}
.about_wrap::before {
  /* position: absolute;
  left: 10px;
  top: -44px;
  display: block;
  content: "";
  width: 60px;
  height: 15px;
  border-radius: 2px;
  background: #8d9ace;
  transform: rotate(90deg);
  z-index: 1; */
}
.about_title {
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
}
.about_description {
  font-size: 13px;
  line-height: 16px;
}
.less-more {
  padding: 0 16px;
  margin-bottom: 48px;
  color: #111111;
  text-align: left;
}
.less-more_title {
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
}
.less-more_subtitle {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 34px;
}
.less-more_subtitle > p > span {
  display: block;
  font-weight: bold;
}
.less-more_list {
  margin-bottom: 30px;
}
.less-more_item {
  position: relative;
  padding-left: 86px;
  margin-bottom: 34px;
  margin-left: 17px;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.less-more_item::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  min-width: 64px;
  height: 64px;
  background-image: url("../images/logo-vectorBFA4CE.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.less-more_item-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.less-more_item > ul > li,
.less-more_item > ul > li > ul > li {
  position: relative;
  padding-left: 14px;
  margin-bottom: 10px;
}
.less-more_item > ul > li > ul {
  margin-left: -14px;
}
.less-more_item > ul > li > span {
  display: inline-block;
  margin-bottom: 10px;
}
.less-more_item > ul > li::before,
.less-more_item > ul > li > ul > li::before {
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #111111;
}
.less-more_link {
  max-width: 396px;
  margin: 0 auto;
  display: block;
  padding: 12px;
  margin-bottom: 34px;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.reviews {
  margin-bottom: 48px;
  overflow: hidden;
}
.reviews_title {
  padding: 0 16px;
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #111111;
}
.reviews_list {
  margin-bottom: 55px;
  /* display: grid;
  min-width: 150%;
  margin-left: -75%;
  margin-bottom: 55px;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; */
}
.slick-track {
  display: flex;
  gap: 16px;
}
.reviews_item {
  min-width: 0;
  max-width: 347px;
  display: flex;
  flex-direction: column;
  padding: 14px 34px;
  background: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 1px 10px rgba(141, 154, 206, 0.5);
  cursor: pointer;
}
.reviews_author {
  padding-bottom: 3px;
  margin: 0;
  font-family: "Ubuntu Condensed";
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #111111;
  border-bottom: 3px solid #8d9ace;
}
.reviews_text {
  flex: 1;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.reviews_time {
  position: relative;
  align-self: flex-end;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.reviews_time:first-of-type {
  align-items: end;
}
.reviews_time::after {
  position: absolute;
  right: -15px;
  bottom: 4px;
  display: block;
  content: "";
  width: 12px;
  height: 9px;
  background-image: url("../images/line.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.reviews_video {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-width: 100%;
  min-height: 232px;
  height: calc(100vw / 2);
  margin-bottom: 32px;
  background-image: url("../images/плеер.png");
  background-repeat: no-repeat;
  background-size: 110% 90%;
  background-position: center center;
  overflow: hidden;
}
.reviews_video-player {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #000 !important;
}
.reviews_video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  z-index: 2;
}
.reviews_constitutor-info {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  color: #111111;
}
.reviews_constitutor-goals {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.reviews_constitutor-title {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
}
.reviews_constitutor-list {
  margin-left: 10px;
  margin-bottom: 20px;
}
.reviews_constitutor-item {
  position: relative;
  padding-left: 14px;
  font-size: 13px;
  line-height: 16px;
}
.reviews_constitutor-item::before {
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #111111;
}
.reviews_constitutor-link {
  max-width: 396px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 12px;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.trial {
  padding: 0 16px;
}
.trial-title {
  font-family: "Ubuntu Condensed";
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
}
.trial_wrap {
  overflow-x: hidden;
}
.trial_list {
  position: relative;
  display: flex;
  padding-bottom: 44px;
}
.trial_item {
  cursor: pointer;
}
.trial_item + .trial_item {
  margin-left: 12px;
}
.trial_title {
  display: inline-block;
  white-space: nowrap;
  font-size: 13px;
  line-height: 16px;
  color: rgba(17, 17, 17, 0.7);
  margin: 0;
}
.trial_title.active {
  color: #421dd8;
}
.trial_nested-list {
  position: absolute;
  left: 0;
  display: flex;
}
.trial_item > ul > li {
  line-height: 16px;
  font-size: 13px;
  color: #111111;
  white-space: nowrap;
}
.trial_item > ul > li + li {
  margin-left: 12px;
}
.trial_item > ul > li.show-active {
  color: #421dd8;
  font-weight: bold;
}
.trial_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.trial_description-title {
  display: none;
}
.trial_description-text {
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.trial_description-text > p {
  font-size: 13px;
  line-height: 16px;
}
.trial_description-text > p:not(:last-of-type) {
  margin: 0;
}
.trial_description-text > p > span {
  display: block;
}
.trial_audio {
  width: 100%;
  height: auto;
}
.trial_text-wrap {
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.trial_text {
  font-size: 13px;
  line-height: 16px;
  display: none;
  margin: 0;
}
.trial_text-show {
  display: block;
}
.trial_btn-show {
  margin: 0 auto;
  margin-bottom: 16px;
  background-color: transparent;
  border: 0;
  transform: rotate(45deg);
}
.trial_btn-show.trial_btn-close {
  transform: rotate(0);
}
.trial_link {
  max-width: 374px;
  margin: 0 auto;
  display: block;
  padding: 12px;
  margin-bottom: 40px;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer {
  padding: 34px 3%;
  background: #343639;
  font-size: 13px;
  line-height: 16px;
  color: #f4f4f4;
}
.footer_nav > .nav_list {
  display: block;
}
.footer_nav > .nav_list li {
  margin-bottom: 10px;
}
.footer_nav > .nav_list a {
  font-size: 13px;
  line-height: 16px;
  color: #f4f4f4;
}
.footer_policy > span,
.footer_data > span {
  display: block;
  margin-bottom: 10px;
}
.footer_data {
  margin-bottom: 34px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-self: center;
}
.social-list_item + .social-list_item {
  margin-left: 16px;
}

@media screen and (min-width: 660px) {
  .intro {
    padding: 0 34px;
  }
  .about_wrap {
    position: relative;
    padding: 0 34px;
  }
  .less-more {
    padding: 0 34px;
  }
  .reviews_constitutor-info {
    padding: 0 34px;
  }
  .reviews_video {
    max-width: 700px;
    min-width: 0;
    margin: 0 auto;
  }
  .trial {
    padding: 0 34px;
  }
}

@media screen and (min-width: 960px) {
  .header {
    padding: 24px 5%;
    background: rgba(255, 255, 255, 0.8);
  }
  .header_wrap {
    padding: 0;
    justify-content: flex-start;
  }
  .header_btn {
    display: none;
  }
  .header_logo {
    width: 155px;
    height: 46px;
  }
  .header_nav {
    width: 50%;
    height: auto;
    padding-top: 0;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    background: transparent;
  }
  .nav_list {
    flex-direction: row;
    gap: 3%;
  }
  .nav_item {
    margin-bottom: 0;
    width: 91px;
  }
  .header_user {
    margin-left: auto;
    margin-right: 4%;
  }
  .header-btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #111111;
  }
  .intro {
    padding: 144px 9% 0 9%;
    margin-bottom: 54px;
  }
  .intro_wrap {
    padding-top: 0;
    margin-bottom: 0;
  }
  .intro_wrap::before {
    top: -144px;
    right: -14.5%;
    left: auto;
    min-width: 336px;
    min-height: 468px;
    background-image: url("../images/intro.png");
  }
  .intro_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    font-size: 64px;
    line-height: 74px;
  }
  .intro_title > span {
    width: 100%;
    display: block;
    font-size: 47px;
    line-height: 54px;
    order: 1;
  }
  .intro_title::after {
    display: block;
    content: "";
    margin-left: 25px;
    height: 3px;
    width: 18%;
    background: #111111;
    border-radius: 2px;
  }
  .intro_subtitle {
    max-width: 420px;
    margin: 0;
    margin-bottom: 32px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .intro_subtitle > span {
    display: inline;
  }
  .intro_anxiety-title {
    text-align: left;
    margin-bottom: 36px;
    font-size: 32px;
    line-height: 37px;
  }
  .slider_buttons {
    display: block;
  }
  .slider_sliders {
    display: flex;
  }
  .slider_item {
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
  }
  .slider_item.slider_item-show {
    display: flex;
  }
  .slider_item > span {
    display: inline-flex;
    padding: 16px;
    margin-bottom: 0;
    white-space: nowrap;
  }
  .intro_link-wrap > a {
    display: inline-block;
    padding: 16px 116px 16px 36px;
    letter-spacing: 0.1em;
    background-position: 90% center;
    background-size: 9%;
    white-space: nowrap;
  }
  .subscriptions {
    padding: 0 5%;
    margin-bottom: 60px;
  }
  .subscriptions_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .subscriptions_title {
    width: 25%;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 37px;
  }
  .subscriptions_title::after {
    display: none;
  }
  .subscriptions_list {
    margin-bottom: 14px;
  }
  .subscriptions_item {
    width: auto;
    position: relative;
    padding: 226px 32px 0 32px;
    background-image: url("../images/logo-vector.svg");
    background-position: 15% 25%;
  }
  .subscriptions_item::before {
    position: absolute;
    left: 11.76%;
    top: 6.77%;
    display: block;
    content: "";
    width: 50px;
    height: 4px;
    background-image: url("../images/group119.svg");
  }
  .subscriptions_item-title {
    width: 100%;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
  }
  .subscriptions_item > a {
    text-align: left;
    padding: 13px 26px;
    background-image: url("../images/arrow-copy.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
  }
  .subscriptions_item:hover > a {
    opacity: 1;
  }
  .subscriptions_item:hover::before {
    transform: rotate(180deg);
  }
  .subscriptions > p {
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    padding: 0 7%;
    text-align: right;
    margin-bottom: 64px;
  }
  .about__image {
    min-width: 450px;
    height: 512px;
  }
  .about__image::before {
    left: auto;
    top: auto;
    right: 414px;
    bottom: 27px;
    height: 20px;
    border-radius: 5px;
    transform: rotate(0);
  }
  /* .about::before {
    order: 1;
    min-width: 450px;
    width: 50%;
    height: 512px;
    background-image: url("../images/photo.png");
    background-size: contain;
    background-position: center;
  } */
  .about_wrap {
    width: 50%;
    padding: 0;
  }
  /* .about_wrap::before {
    position: absolute;
    left: auto;
    top: auto;
    right: -70px;
    bottom: 0;
    height: 20px;
    border-radius: 5px;
    transform: rotate(0);
  } */
  .about_title {
    
    font-size: 40px;
    line-height: 46px;
  }
  .about_description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;

  }
  .less-more {
    padding: 0 10%;
    text-align: center;
  }
  .less-more_title {
    font-size: 32px;
    line-height: 37px;
  }
  .less-more_subtitle {
    margin-bottom: 0;
  }
  .less-more_subtitle > p > span {
    display: block;
  }
  .less-more_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-bottom: 30px;
  }
  .less-more_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
  }
  .less-more_item::before {
    position: static;
    transform: translateY(0);
  }
  .less-more_item-title {
    padding: 0 40px;
    text-align: center;
  }
  .less-more_item > ul {
    text-align: left;
    margin-top: auto;
  }
  .less-more_item > ul > li,
  .less-more_item > ul > li > ul > li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 10px;
  }
  .less-more_item > ul > li > span {
    display: inline-block;
    margin-bottom: 10px;
  }
  .less-more_item > ul > li > ul > li {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .less-more_item > ul > li::before,
  .less-more_item > ul > li > ul > li::before {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #111111;
  }
  .less-more_link {
    display: inline-block;
    padding: 13px 26px;
    margin-bottom: 0;
  }
  .reviews {
    margin: 0 2.5%;
  }
  .reviews_title {
    padding: 0;
    font-size: 32px;
    line-height: 37px;
  }
  /* .reviews_list {
    gap: 1%;
  } */
  .reviews_constitutor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
  }
  .reviews_video {
    background-size: 100% 100%;
    width: 100%;
    height: auto;
  }
  .reviews_constitutor-info {
    padding: 0;
  }
  .reviews_constitutor-link {
    margin: 0 auto;
    display: inline-block;
    padding: 13px 26px;
    width: auto;
  }
  .trial {
    margin: 0 2.5%;
    margin-bottom: 60px;
    padding: 0;
  }
  .trial-title {
    font-size: 32px;
    line-height: 37px;
  }
  .trial_wrap {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2%;
  }
  .trial_list {
    flex-direction: column;
    padding: 0;
  }
  .trial_item {
    padding: 16px 30px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    margin-bottom: 16px;
  }
  .trial_item + .trial_item {
    margin-left: 0;
  }
  .trial_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .trial_title.active {
    margin-bottom: 16px;
    color: #111111;
    transition: margin-bottom 0.4s;
  }
  .trial_title::after {
    display: block;
    content: "";
    width: 32px;
    height: 8px;
    background-image: url("../images/Стрелка.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.3s;
  }
  .trial_title.active::after {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  .trial_nested-list {
    transform: scale(0);
    position: sticky;
    display: none;
    overflow: hidden;
    display: block;
  }
  .trial_title.active + .trial_nested-list {
    transform: scale(1);
    transition: transform 2s;
  }
  .trial_item > ul > li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
  }
  .trial_item > ul > li + li {
    margin-left: 0;
  }
  .trial_item > ul > li.show-active {
    line-height: 16px;
    font-size: 13px;
    color: #111111;
    transition: font-size 0.4s;
  }
  .trial_item > ul > li::before {
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    content: "";
    width: 12px;
    height: 9px;
    background-image: url("../images/line.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .trial_item > ul > li.show-active::before {
    opacity: 1;
    width: 10px;
    height: 8px;
    transition: opacity 0.4s;
  }
  .trial_description {
    padding: 16px 22px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 100px rgba(114, 100, 170, 0.25);
    border-radius: 20px;
  }
  .trial_description-title {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #111111;
    margin-top: 0;
  }
  .trial_list-reference {
    width: 145px;
    overflow-x: hidden;
  }
  .trial_list-diary {
    overflow-x: hidden;
    width: 105px;
  }
  .trial_text {
    display: block;
  }
  .trial_btn-show {
    display: none;
  }
  .trial_link {
    margin-left: 27.5%;
    margin-top: 16px;
    display: inline-block;
    padding: 13px 26px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 2.5%;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 11%;
  }
  .intro {
    padding: 144px 17% 0 18%;
  }
  .slider_prev {
    left: -80px;
  }
  .slider_next {
    right: -80px;
  }
  .subscriptions {
    padding: 0 134px;
  }
  .subscriptions_wrap {
    flex-direction: row;
  }
  .subscriptions > p {
    margin-right: 15%;
    text-align: end;
  }
  .about {
    padding: 0 16%;
  }
  .about_title {
    margin-left: 75px;
  }
  .about_description {
    padding-left: 45px;
  }
  .less-more {
    padding: 0 24%;
  }
  .reviews {
    margin: 0 12.5%;
  }
  .trial {
    margin: 0 12%;
  }
  .trial_link {
    margin-left: 21.5%;
  }
  .footer {
    padding: 60px 12.5%;
  }
}
